<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Soratik Blog</title>
</head>
<body>
<div>
    <h1><a href="/">Django Soratik Blog</a></h1>
</div>

<div>
    <p>published: 17.39.2020, 12:14</p>
    <h2><a href="">My first post</a></h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, aliquam amet corporis inventore maiores quaerat rem? Dolorum fugit harum hic ipsa libero minima minus nesciunt, nostrum tempora velit. Aliquid, itaque.</p>
</div>

<div>
    <p>published: 17.39.2020, 12:14</p>
    <h2><a href="">My second post</a></h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione repellendus sapiente tenetur veniam? A animi dolore ducimus error explicabo maxime officiis perferendis, quas rem, reprehenderit, repudiandae sit tenetur totam veritatis?</p>
</div>
</body>
</html>